.login-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.login-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;

}

.login-header img {
    width: 100px;
}

.login-header h1 {
    color: #333;
    font-size: 1.5em;
    margin-top: 50px;
}

.login-input {
    border: 2px solid #333;
    border-radius: 8px;
    color: #333;
    font-size: 1em;
    margin-bottom: 15px;
    max-width: 300px;
    width: 100%;
    outline: none;
    padding: 15px;
}

.login-button {
    background-color: #cb6ce6;
    padding: 15px;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    max-width: 300px;
    width: 100%;
}

.login-button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}