.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: #fff;
    width: 800px;
    border: 2px solid gray;
    border-radius: 10px;
  }

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    /* padding: 20px 0; */
    font-size: 30px;
}

.grid-item {
    text-align: center;
    align-content: center;
    align-items: center;
}

.item1 {
    grid-column: 1;
    grid-row: 1;
    margin: 20px;
}

.item1 img {
    display: block;
    border-radius: 50%;
}

.item1 button {
    display: inline-block;
    cursor: pointer;
}

.item2 {
    grid-column: 2;
    grid-row: 1;
    border-left: 2px solid grey;
}

.item2 h1,h2,p {
    text-align: left;
    margin: 20px 10px;
}

.item2 h1 {
    font-size: 35px;
}

.item2 h2 {
    font-size: 30px;
}

.item2 p {
    font-size: 20px;
}

.item3 {
    grid-column: 1 / span 2;
    grid-row: 2;
    border-top: 2px solid grey;
}

.item3 ul, li {
    display: flex;
    list-style-type: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
}