@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100;1,200;1,600&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 100%;
  min-height: 100vh;
  background-image: url("fundo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.row {
  width: 100%;
  padding: 0px 80px;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  position: relative;
  z-index: 1;
  margin-left: -70px;
}

a.green:visited {
  color: green;
}
a:visited {
  color: black;
}
a.red:visited {
  color: red;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.navbar ul li {
  list-style: none;
  padding: 5px 3px;
}
.navbar ul li a {
  padding: 8px 18px;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
.navbar ul li a:hover {
  background-color: #a600ff;
}
.navbar h1 {
  color: #fff;
  font-size: 35px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 10px;
}
.logo {
  position: absolute;
  top: -1em;
  right: -100px;
  margin: 10px;
  width: 100px;
}
.content {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content h1 {
  font-size: 45px;
  color: rgb(0, 0, 0);
  font-weight: 400;
}
.content p {
  font-size: 16px;
  color: rgb(0, 0, 0);
}
.content a {
  text-decoration: none;
  margin-top: 20px;
  font-size: 20px;
  display: inline-block;
  letter-spacing: 2px;
  padding: 12px 20px;
  background-color: #5d88d5;
  border-radius: 5px;
  color: #fff;
}
.content a:hover {
  background-color: #2d88d5;
}

