.projetos {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3rem 0;
    align-items: center;
}

.projeto-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin: 3rem 0;
}

.projeto {
    width: 650px;
    height: 325px;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 5px;
    filter: grayscale(0.5);
    transition: 0.5s ease-in-out;
}

.projeto:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    filter: grayscale(0);
}

.projeto a {
    cursor: alias;
}

.projeto-text {
    width: 40%;
    letter-spacing: 1px;
    color: grey;
}

.projetos > div:nth-child(2n) {
    flex-direction: row-reverse;
}