@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;1,100;1,200;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #CB6CE6;
}

.text-apresentation {
    height: 60px;
    text-align: center;
    color: #fff;
}

.text-apresentation > h1 {
    justify-content: center;
    padding: 5px 0;
}

.container {
    position: relative;
    padding: 15px;
    max-width: 900px;
    margin: 0 auto;
    
}

.gallery-wrapper {
    overflow-x: auto;
}

.gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

.arrow-left, .arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    width: 40px;
    font-size: 30px;
    cursor: pointer;
    border: none;
    background: linear-gradient(to left, transparent 0%, rgb(119, 1, 255) 200%);
    opacity: 0.1;
    transition: all 600ms ease-in-out;
    z-index: 1;
}

.arrow-right {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, transparent 0%, rgb(119, 1, 255) 200%);
}

.arrow-left:hover, .arrow-right:hover {
    opacity: 1;
}

.bi-chevron-left, .bi-chevron-right {
    color: #0D1117;
}

.item {
    width: 800px;
    height: auto;
    flex-shrink: 0;
    opacity: 0.6;
    transition: all 600ms ease-in-out;
}

.current-item{
    opacity: 1;
}

hr {
    display: block;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    border-radius: 50%;
    border-color: indigo;
}

.grid-container {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 5px;
    background-color: transparent;
    width: 800px;
    /* border: 2px solid gray; */
    /* border-radius: 10px; */
  }

.grid-container > div {
    text-align: center;
    /* padding: 20px 0; */
    font-size: 30px;
}

.grid-item {
    border-radius: 5px;
    text-align: center;
    align-content: center;
    align-items: center;
}

.item1 {
    grid-column: 1;
    grid-row: 1;
    padding: 20px;
    background: indigo;
}

.item1 img {
    display: block;
    border-radius: 50%;
}

.item1 button {
    display: inline-block;
    cursor: pointer;
    background-color: violet;
    border-radius: 4px;
    border: none;
    padding: 5px;
}

.item1 button:hover {
    background-color: blueviolet;
}

.item2 {
    grid-column: 2;
    grid-row: 1;
    background: #fff;
}

.item2 h1,h2,p {
    text-align: left;
    padding: 10px 10px;
}

.item2 h1 {
    font-size: 30px;
}

.item2 h2 {
    font-size: 20px;
}

.item2 p {
    font-size: 1vw;
}

.item3 {
    grid-column: 1 / span 2;
    grid-row: 2;
    background: #fff;
}

.item3 ul, li {
    display: flex;
    list-style-type: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5px 30px;
}

.flex-container {
    display: flex;
}

.flex-container > div {
    margin: 10px;
    padding: 20px;
}

.flex-container > .informar {
    text-align: center;
}

.flex-container:nth-child(2n) {
    flex-direction: row-reverse;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 .gallery-wrapper::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .gallery-wrapper {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  } 