
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&family=Prompt:wght@200;400&display=swap');

 


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #121212;
    --second-bg-color: #202020;
    --text-color: #fff;
    --second-color: #8f0ef1;
    --main-color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(122,4,212,1) 38%, rgba(0,212,255,1) 100%);
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    top:0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}

.logo{
    color: var(--text-color);
    text-shadow: 1px 2px 2px #000, -1px 2px 2px #000;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}

span{
    color: var(--main-color);
}

.navlist{
    display: flex;
}

.navlist a{
    color: #9900FF;
    text-shadow: 20px 6px 20px #000 ;
    border-radius: 3px;
    font-size: 19px;
    font-weight: 900;
    margin: 0 25px;
    transition: all .45s ease;
    

}



.navlist a:hover{
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(122,4,212,1) 38%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

section{
    padding: 160px 15% 120px;
}

.home{
     
    position: relative;
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url(fotos1/aespa05.jpg) center/cover no-repeat fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.slide{
    margin-bottom: 20px;

}

.one{
    
    color: var(--text-color) ;
    display: inline-block;
    margin-right: 15px;
    height: 32px;
    padding: 0 15px;
    line-height: 32px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
    background-color: rgb(6, 1, 17) ;
}

.two{
   
    display: inline-block;
    color: var(--text-color);
    font-size: 17px;
    font-weight: 500;
}

.home-text h1{
  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 2rem;
    margin-top: 3px;
    max-width: 20px;
    max-height: 250px;
    width: auto;
    height: auto;
    
}

.home-text h3{
    color: var(--text-color);
    margin: 0 0 35px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.1;
    text-shadow: 6px 5px 10px #000, -1px 2px 2px #000;
}

#demo{
    font-family: ' Poppins';
    font-size: 90px;
    color: white;
    text-shadow: 0px 0px 18px #9900ff;
    display: flex;
    flex-basis: 100px;
    
}

header.sticky{
    background: var(--bg-color);
    border-bottom: 1px solid #ffffff1a;
    padding: 12px 15%;
}

.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.about-img img{
    max-width: 530px;
    height: auto;
    width: 100%;
    border-radius: 8px;
}

.about-text h2{
    font-size: var(--h2-font);
    line-height: 1;
    text-shadow: 1px 2px 2px #000, -1px 2px 2px #000;
    
}

.about-text h4{
    font-size: 24px;
    font-weight: 600;
    color: rgb(2, 53, 73);
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p{
    color: grey;
    font-size: var(--p-font);
    line-height: 1.2;
    margin-bottom: 1rem;
}

.services{
    background: var(--second-bg-color);
}

.main-text{
    text-align: center;
}

.main-text p{
    color: gray;
    font-size: 15px;
    margin-bottom: 15px;
}

.main-text h2{

    font-size: var(--h2-font);
    line-height: 1;

}

.services-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}

.box{
    background: var(--second-bg-color);
    padding: 35px;
    border-radius: 8px;
    transition: all .45s ease;
}

.s-icons i{
    font-size: 32px;
    margin-bottom: 20px;

}

.box h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 15px;
}

.box p{
    color: gray;
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 25px;

}

.read{
    display: inline-block;
    padding: 8px 18px;
    background: #2e2e2e;
    color: var(--second-color);
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    transition: all .45 ease;
}

.read:hover{
    letter-spacing: 1px;
    background: #4d0180f6;
    color: var(--text-color);
}

.box:hover{
    transform: translateY(-10px);
    cursor: pointer;
}

.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;

}

.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.row img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(100deg, rgb(0, 0, 1) 0%, rgb(73, 0, 71) 50%, rgb(6, 1, 17) 100%);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}

.layer h5{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.layer p{
    color: gray;
    font-size: 1rem;
    line-height: 1.8;
}

.layer i{
    color: purple;
    margin-top: 20px;
    font-size: 20px;
    background: var(--text-color);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.row:hover img{
    transform: scale(1.1);
}

.row:hover .layer{
    height: 100%;
}

.contact{
    background: var(--second-bg-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.contact-text h4{
    color: var(--text-color);
    margin: 18px 0;
    font-size: 20px;
    font-weight: 600;
}

.contact-text h2{
    font-size: gray;
    line-height: 1;
}

.contact-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 30px;
}

.list{
    margin-bottom: 2.8rem;

}

.list li{
    margin-bottom: 12px;
}

.list li a{
    display: block;
    color: gray;
    font-size: 14px;
    transition: all .45s ease;
}

.list li a:hover{
    color: var(--text-color);
    transform: translateX(5px);
}

.contact-icons i{
    height: 45px;
    width: 45px;
    background: var(--main-color);
    color: var(--text-color);
    font-size: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 15px;
    transition: all .45s ease;
}

.contact-icons i:hover{
    background: linear-gradient(100deg, rgb(0, 0, 1) 0%, rgb(73, 0, 71) 50%, rgb(6, 1, 17) 100%);
    color: rgb(0, 238, 255);
}

.contact-form{
    position: relative;
}

.contact-form form input,
form textarea{
    width: 100%;
    padding: 14px;
    background: var(--bg-color);
    color: var(--text-color);
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.contact-form textarea{

    resize: none;
    height: 240px;

}

.contact-form .submit{
    display: inline-block;
    font-size: 16px;
    background: var(--second-color);
    color: var(--text-color);
    width: 160px;
    transition: all .45s ease;
}

.contact-form .submit:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.end{
    padding: 20px 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: var(--bg-color);
}

.last-text p{
    color: gray;
    font-size: 14px;
}

.top i{
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
    color: var(--text-color);
    background: var(--main-color);
}

@media (max-width: 1480px){
    hearder{
        padding: 12px 2.5%;
        transition: 1s;
    }
    header.sticky{
        padding: 10px 2.5%;
        transition: 1s;;

    }

    section{
        padding: 110px 3% 60px;
    }
    .end{
        padding: 15px 3%;
    }
}

@media (max-width: 1100px){
    :root{
        --bg-font: 4rem;
        --h2-font: 2.5rem;
        --p-font: 1rem;
        transition: .1s;
    }

    .home-text h3{
        font-size: 2.5rem;
    }

    .home{
        height: 87vh;
    }

}

@media (max-width: 920px){
    .about{
        grid-template-columns: 1fr;
    }

    .about-img{
        text-align: center;
        order: 2;
    }

    .about-img img{
        width: 100%;
        height: auto;
        max-width: 100%;
    }

    .contact{
        grid-template-columns: 1fr; 
    }
}

@media (max-width: 840px){
    #menu-icon{
        display: block;
    }

    .navlist{
        position: absolute;
        top: -1000%;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        text-align: left;
        transition: all .45s ease;

    }

    .navlist a{
        display: block;
        margin: 17px;
        font-size: 20px;
        transition: all .45s ease;
        color: var(--text-color);
    }

    .navlist a:hover{
        color: var(--main-color);
    }

    .navlist a.active{
        color: var(--text-color);
    }

    .navlist.open{
        top:100%;
    }
}