@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;1,100;1,200;1,400&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: linear-gradient(to right, rgba(206, 151, 243, 0.45), rgba(126, 43, 194, 0.55));
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.6);
    padding: 17px;
    border-radius: 17px;
    width: 45%;
    color: rgba(126, 43, 194, 1);
}

fieldset {
    border: 3px solid rgba(126, 43, 194, 0.85);
}

legend {
    border: 1px solid rgba(126, 43, 194, 0.85);
    padding: 10px;
    text-align: center;
    background-color: rgba(126, 43, 194, 0.85);
    border-radius: 7px;
    color: rgba(255, 255, 255, 0.8);
}

.inputContainer {
    position: relative;
    margin: 20px 0;
}

.userInput {
    background: none;
    border: none;
    border-bottom: 1px solid rgba(126, 43, 194, 0.85);
    outline: none;
    color: rgba(126, 43, 194, 0.9);
    font-size: 15px;
    width: 100%;
    letter-spacing: 1.5px;
}

.labelInput {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: 0.7s;
}

.userInput:focus ~ .labelInput,
.userInput:valid ~ .labelInput {
    top: -20px;
    font-size: 13px;
    color: rgba(126, 43, 194, 0.55);
}

.dataInput {
    border: none;
    padding: 5px;
    border-radius: 7px;
    outline: none;
    font-size: 15px;
    margin: 12px 0 5px;
}

.checkboxContainer {
    display: inline-block;
    margin: 10px 0;
}

.buttonContainer button {
    background-color: rgba(126, 43, 194, 0.85);
    width: 100%;
    border: none;
    padding: 15px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 3px 1px rgba(126, 43, 194, 0.65);
}

.buttonContainer button:hover {
    opacity: 0.8;
}