@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,200&display=swap');
* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Nunito', sans-serif;
}

body {
    background-image: linear-gradient(to right, rgb(64, 0, 159), rgb(0, 0, 0));
}

fieldset {
    border: 2px solid rgb(175, 31, 191);
    border-radius: 15px;
    margin: 15px auto;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 5px;
    box-shadow: 0 4px 8px 0 rgb(212, 51, 230), 0 6px 20px 0 rgb(212, 51, 230);
    width: 700px;
    height: auto;
    background: transparent;
}

legend {
    border: 2px solid rgb(175, 31, 191);
    border-radius: 50px;
    background-color: rgb(147, 64, 230);
    margin: 3px;
    padding: 5px 10px;
    font-size: large;
}

legend ion-icon {
    position: relative;
    right: 2.5px;
    top: 1.5px;
}

h1, p {
    text-align: center;
    margin: 5px auto;
}

.bt {
    width: 250px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 15px;
}

button {
    width: 250px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-color: rgb(92, 51, 255);
    font-size: 1.5em;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    opacity: 0.6;
    box-shadow: 0 4px 8px 0 rgb(92, 51, 255);
    
}

.caixa {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.caixa label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus ~ label, input:valid ~ label {
    top: -5px;
}

.caixa input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
}

.caixa-select {
    position: relative;
}

.caixa-select label {
    font-size: 1em;
    pointer-events: none;
}

.caixa-select select {
    background-color: blueviolet;
    border: 2px solid indigo;
    border-radius: 7px;
    width: 250px;
    height: 2.5em;
    padding: 5px;
    margin: 7px 0;
    font-size: 1em;
}

select:hover {
    background-color: #9370DB;
    border: 2px solid palevioletred;
}
