:root {
    --color-primary: #fb2056;
    --color-primary-hover: #da1c4b;
    --color-light-gray: #f5f5f5;
    --color-light-black: #191919;
    --color-white: #ffffff;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  .background-overlay {
    background-color: var(--color-light-black);
    opacity: 0.65;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .container {
    margin: 0 auto;
    max-width: 1024px;
  }
  
  .divider {
    border: 1px solid var(--color-primary);
    width: 80px;
    margin: 20px auto;
  }
  
  .btn {
    border-radius: 30px;
    padding: 17px 40px;
    font-weight: 700;
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    color: var(--color-white);
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin: 20px 0;
  }
  
  .btn:hover,
  .btn:focus {
    border-color: var(--color-primary-hover);
    background-color: var(--color-primary-hover);
    transition: all 0.3s;
    /* transition-property: all;
    transition-duration: 0.3s; */
  }
  
  .section-title {
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
  }
  
  /* page header start */
  
  #page-header {
    position: relative;
    background-color: var(--color-light-black);
    background-image: url("../images/hero-bg.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 20px;
  }
  
  #page-header .container {
    position: relative;
  }
  
  #page-header #page-header-logo img {
    width: 150px;
    height: 42px;
  }
  
  #page-header #page-header-content {
    color: var(--color-white);
    text-align: center;
    padding: 200px 0;
  }
  
  #page-header #page-header-content h1 {
    font-size: 72px;
  }
  
  #page-header #page-header-content h2 {
    font-size: 32px;
  }
  
  #page-header #page-header-content .btn {
    margin-top: 80px;
  }
  
  /* page header end */
  
  /* page footer start */
  
  #page-footer {
    background-color: var(--color-light-black);
    color: var(--color-white);
    text-align: center;
    padding: 40px 0;
  }
  
  /* page footer end */
  
  /* section quote start */
  
  #quote {
    background-color: var(--color-light-gray);
    padding: 40px 0;
  }
  
  #quote .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  #quote #quote-content {
    flex: 1;
    text-align: center;
    font-size: 20px;
  }
  
  /* section quote end */
  
  /* section upcoming events start */
  
  #upcoming-events {
    padding: 100px 0;
  }
  
  #upcoming-events #upcoming-events-content {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
  }
  
  #upcoming-events #upcoming-events-content .event {
    text-align: center;
    width: 450px;
  }
  
  #upcoming-events #upcoming-events-content .event img {
    width: 100%;
    border-radius: 4px;
    box-shadow: 10px 10px 0 1px rgb(0 0 0 / 7%);
  }
  
  #upcoming-events #upcoming-events-content .event h3 {
    margin: 20px 0;
    font-size: 22px;
  }
  
  /* section upcoming events end */
  
  /* section explore start */
  
  #explore {
    background-image: url("../images/explore-bg.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
  }
  
  #explore #explore-content {
    color: var(--color-white);
    position: relative;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  #explore #explore-content div {
    width: 500px;
  }
  
  #explore #explore-content .section-title {
    text-align: left;
  }
  
  #explore #explore-content .divider {
    margin-left: 0;
  }
  
  /* section explore end */
  
  /* upcoming tours start */
  
  #upcoming-tours {
    padding: 100px 0;
  }
  
  #upcoming-tours .container {
    display: flex;
    justify-content: space-around;
    gap: 40px;
  }
  
  #upcoming-tours .container div {
    flex: 1;
  }
  
  #upcoming-tours .container div img {
    width: 100%;
  }
  
  #upcoming-tours .section-title {
    text-align: left;
  }
  
  #upcoming-tours .divider {
    margin-left: 0;
  }
  
  #upcoming-tours .upcoming-tours-img {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  /* upcoming tours end */