@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100;1,200;1,600&display=swap");

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
}

body { 
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    max-width: 1920px;
    max-height: 1080px;
}

header { 
    width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  position: relative;
  z-index: 1;
}

.logo {
    font-size: 2em; 
    color: rgb(0, 0, 0);
    pointer-events: none;
    margin-right: 270px;
}

.navigation a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover, .navigation a.active {
    background: #ff00d4;
    color: #fff;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text {
    position: absolute;
    font-size: 5em;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

.parallax img{
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    pointer-events: none;
}
.sec{
    position: relative;
    background: #a200ff;
    padding: 100px;
}

.sec h2{
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}

.sec p{ 
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}
